body > .woex-scroller {
  max-height: 100%;
}

.woex-scroller-wrapper {
  -webkit-overflow-scrolling: touch;
}

.woex-scroller-inner {
  -webkit-overflow-scrolling: touch;
}

.woex-scroller-wrapper .woex-scroller-vertical {
  overflow-x:hidden;
  overflow-y: scroll;
}

.woex-scroller-wrapper .woex-scroller-horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

.woex-scroller-wrapper .woex-scroller-disabled {
  overflow-x: hidden;
  overflow-y: hidden;
}
